html * {
    font-family: roboto, sans-serif;
    margin:0;
}

.section-1 {
    background-color: #1f2937;
    color: white;
    max-width: 1000px;
    padding: 20px;
    padding-bottom:60px;
}

.section-1 a {
    color: white;
    font-size:small;
    text-decoration: none;
}

.header-bar {
    display:flex;
    margin-bottom:40px;
}
.header-bar .logo {
    flex:3;
}
.header-bar .one, .two, .three {
    flex:1;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.container {
    display:flex;
}
.title {
    flex:1;
    padding-right: 40px;
}

.title h1 {
    margin-bottom:20px;
}

.title p {
    margin-bottom:40px;
}

.image {
    flex:1;
    padding: 20px;
    background-color:grey;
}

.sign-up {
    background-color: #3882F6;
    padding: 10px;
    border-radius:10px;
}

.section-2 {
    max-width:1000px;
    margin-top:40px;
    margin-bottom:40px;
    text-align: center;
}

.section-2 h2 {
    margin-bottom: 40px;
}

.section-2 .container {
    display:flex;
}

.section-2 .box {
    flex:1;
}

.section-2 .box .border {
    border-style: solid;
    border-width: 3px;
    border-color:#3882F6;
    border-radius:10px;
    height: 120px;
    width: 120px;
    margin:auto;
    margin-bottom:10px;
}

.section-2 .text {
    font-size:smaller;
    width:120px;
    margin:auto;
}

.section-3 {
    background-color: #E5E7EB;
    padding-top:50px;
    padding-bottom:50px;
    max-width:1000px;
    padding-left:50px;
    padding-right:50px;
}
.section-3 .quote {
    font-size:36px;
    font-style: italic;
    font-weight: lighter;
    color:#1f2937;
}
.section-3 .attribute {
    text-align: right;
    font-weight: bold;

}

.section-4 {
    max-width:1000px;
    background-color: #3882F6;
    color:#E5E7EB;
    margin:50px;
    padding:40px;
    border-radius:5px;
    display:flex;
}

.section-4 .container-left {
    flex:4;
}

.section-4 .container-right {
    flex:1;
}

.section-4 .action {
    font-weight:bold;
    padding-bottom:5px;
    font-size:medium;
}

.section-4 p {
    font-size:small;
}

.section-4 .button {
    width:100px;
    border:2px solid white;
    border-radius: 5px;
    padding:10px;
    text-align: center;
}

.section-4 .button a {
    color:white;
    text-decoration: none;
}

.footer {
    max-width:1000px;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size:x-small;
    text-align: center;
    padding:30px;
}